.leftNav-padding {
    display: none;
}

#PinSidebar {
    display: flex;
}

#side-menu {
    display: none;
}

#menu-icon {
    display: flex;
}

@media (min-width: 1700px) {
    .leftNav-padding {
        display: flex;
    }
    
    #PinSidebar {
        display: none;
    }
    
    #side-menu {
        display: flex;
    }

    #menu-icon {
        display: none;
    }
}

@media (max-width: 700px) {
    .leftNav-padding {
        display: none;
    }
    
    #PinSidebar {
        display: none;
    }
    
    #side-menu {
        display: none;
    }

    #menu-icon {
        display: flex;
    }
}